!!! 5
%html
  %head
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{content: "NONE,NOARCHIVE", name: "robots"}
    = csrf_meta_tag
    = stylesheet_link_tag "rails_admin/rails_admin.css", media: :all
    = javascript_include_tag "rails_admin/rails_admin.js"
    -# Initialize JS simple i18n
    :javascript
      RailsAdmin.I18n.init(JSON.parse("#{j I18n.t("admin.js").to_json}"))
  %body.rails_admin
    #loading.label.label-warning{style: 'display:none; position:fixed; right:20px; bottom:20px; z-index:100000'}= t('admin.loading')
    %nav.navbar.navbar-default.navbar-fixed-top
      = render "layouts/rails_admin/navigation"
    .container-fluid
      .row
        .col-sm-3.col-md-2.reset-left
          .sidebar-nav
            %ul.nav.nav-pills.nav-stacked= main_navigation
            %ul.nav.nav-pills.nav-stacked= static_navigation
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
          .row
            .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'


  :javascript
    // -----8<------ Vaystays Customization --------------------
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', "#{Settings.google_analytics.tracking_id}", 'vaystays.com');
    ga('send', 'pageview');
    ga('send', 'event', 'RailsAdmin', "Viewed a RailsAdmin page");
    // ----->8------ End Vaystays Customization --------------------
